<div class="card">
  <div class="contact-header d-flex align-items-center p-2">
      <div class="chart easy-pie-chart-1" data-percent="75"><span><img src="{{personimg}}" alt="user" class="rounded-circle"/></span></div>
      <h6 class="pl-3">{{personname}}</h6>
  </div>
  <div class="body">
      <div class="user-others-details pl-15 pr-15">
          <div class="mb-3">
              <i class="zmdi zmdi-email-open inline-block mr-2"></i>
              <span class="inline-block txt-dark">{{personmail}}</span>
          </div>
          <div class="mb-3">
              <i class="zmdi zmdi-smartphone inline-block mr-2"></i>
              <span class="inline-block txt-dark">{{mobilenumber}}</span>
          </div>
          <div class="mb-3">
              <i class="zmdi zmdi-phone inline-block mr-2"></i>
              <span class="inline-block txt-dark">{{telnumber}}</span>
          </div>
          <div class="mb-3 d-flex">
              <i class="zmdi zmdi-home inline-block mr-2"></i>
              <span class="inline-block txt-dark vertical-top display-inline"><small>{{address}}</small></span>
          </div>
      </div>
      <ul class="social-links pt-4 mb-0 d-flex border-top-one list-unstyled">
          <li><a class="btn m-0" title="facebook" href="{{facebooklink}}" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
          <li><a class="btn m-0"title="twitter" href="{{twitterlink}}" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
          <li><a class="btn m-0" title="instagram" href="{{instagramlink}}" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
      </ul>
  </div>
</div>
