$white: #ffffff;
$blue-grey-900: #263238 !default;
$grey-900: #212121 !default;
$blush-400: #e98eac !default;
$blush-500: #e47297 !default;
$blush-600: #e25985 !default;
/**Filter var / mixin***/
$color-2:$blush-500; // Minsk
$S:     480px;
$M:     768px;
$L:     1170px;
// media queries
@mixin MQ($canvas) {
@if $canvas == S {
@media only screen and (min-width: $S) { @content; }
}
@else if $canvas == M {
@media only screen and (min-width: $M) { @content; }
}
@else if $canvas == L {
@media only screen and (min-width: $L) { @content; }
}
}
.theme-blush{
  .nav-tabs .nav-link.active {
    border: 1px solid $blush-500 !important;
    background: $blush-500;
    color: var(--color-fff);
  }
  .tabbable-line .nav-tabs li a.active{
    border: 0px !important;
  }
    .btn-primary{
        background: $blush-500;
        &:active,
        &:hover,
        &:focus{
            background: $blush-400;
        }
        &.btn-simple{
            border-color: $blush-500;
            color: $blush-500;
            background: transparent;
        }
    }

    .page-loader-wrapper,
    .active-bg,
    .top_navbar,.sidebar{
        background:$blush-500;
        color: var(--color-fff);
    }
    &.left-menu{
        .sidebar{
            .menu{
                .list{
                    a{
                        color: var(--color-fff);
                        &:hover{
                            color:var(--color-fff);
                        }
                    }
                    li.active.open {
                        .active a{
                            color:var(--color-fff);
                        }
                    }
                    .header{
                        color:var(--color-fff);
                    }
                    .ml-menu{
                        li{
                            a{
                                &:before{
                                    color: var(--color-fff);
                                }
                            }
                        }
                    }
                }
            }
            &.h_menu{
                .menu li{
                    &.active.open{
                        > a{
                            color: var(--color-fff);
                        }
                    }
                    a{
                        &:hover{
                            color: var(--color-fff);
                        }
                    }
                    .ml-menu{
                        li {
                            a{
                                color: var(--color-fff);
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar{
        &.h_menu{
            .menu li{
                &.active.open{
                    > a{
                        color: var(--color-fff);
                        &:before{
                            background: $white;
                        }
                    }
                }
                a{
                    &:hover{
                        color: var(--color-fff);
                        &:before{
                            background: $blush-500;
                        }
                    }
                }
                .ml-menu{
                    li {
                        a{
                            color: $blush-500;
                            &:before{
                                color: $blush-500;
                            }
                        }
                    }
                }
            }
        }
    }

    .checkbox input[type="checkbox"]:checked+label::after{
        border-color:$blush-500;
        background: $blush-500;
        color: var(--color-fff);
    }



    .card{
        .header{
            h2{
                &:before{
                    background: $blush-500;
                }
                strong{
                    color: $blush-500;
                }
            }
            .dropdown-menu{
                li{
                    a{
                        &:hover{
                            background-color: $blush-500;
                            color: var(--color-fff);
                        }
                    }
                }
            }
        }
    }

    .authentication{
        .navbar, .page-header{
            background: $blush-500 !important;
        }
    }

    .form-control:focus,
    .form-control:focus+.input-group-addon, .form-control:focus ~ .input-group-addon{
        border-color: $blush-500;
    }
    .c-interaction {
      &__button {
          background:$blush-500;
          &:after{
              background:rgba(228,114,151,0.5);
          }
      }
      &__input {
          background:$blush-500;
          &::placeholder {
              color:var(--color-fff);
          }
      }
    }
    /***********project risk************/
    .user-card2 {
      .risk-rate {
          span {
              border: 6px dashed #d6d6d6;
              border-top-color: $blush-400;
              &:after {
                background:rgba(228,114,151,0.2);
              }
          }
      }
      a{
          color: $blush-400;
      }
    }
    .fixed-plugin{
      background:$blush-500;
  }

  .t-block{
      .timeline-img {
          background:$blush-400;
      }
      a{
          background:$blush-400;
          &:hover, &:active, &:focus {
              background: darken($blush-400, 10%);
          }
      }
  }

  .tabbable-line {
      .nav-tabs {
          li {
              a {
                  &.active {
                      color: $blush-500 !important;
                      a {
                          border: 0;
                          color: $blush-500;
                      }
                      &:before{
                          background-color:$blush-500;
                      }
                  }
              }
              &:hover {
                  a {
                      color: $blush-500 !important;
                      &:before{
                          background-color:$blush-500;
                      }
                  }
              }
          }
          li.open {
              a {
                  color:  $blush-500;
              }
          }
          li.active {
              a {
                  color: $blush-500;
              }
          }
      }
  }
  .task{
      thead,tfoot{
          background-color:$blush-500;
          color: var(--color-fff);
      }
  }
  .navbar-nav{
      li.app_menu{
          ul{
              li{
                  &:hover{
                      background-color:$blush-500;
                      border-color:$blush-500;
                      a{
                          color: $blush-500;
                          i{
                              color: $white;
                          }
                          span{
                              color: $white;
                          }
                      }
                  }
              }
          }
      }
  }
  .wizard{
      >.actions{
          a{
              background: $blush-500;
              &:hover, &:active {
                  background: $blush-500;
              }
          }
      }
  }
  .cd-tab-filter {
      ul {
          box-shadow: inset 0 -2px 0 $color-2;
      }
      a {
          &.selected {
              background: $color-2;
          }
      }
      &.is-open {
          ul {
              box-shadow: inset 0 -2px 0 $color-2, 0 2px 10px rgba(#000, .2);
          }
      }
      @include MQ(M) {
          a {
              .no-touch &:hover {
                  color: $color-2;
              }

              &.selected {
                  color: $color-2;
                  box-shadow: inset 0 -2px 0 $color-2;
              }
          }
      }
  }
  .cd-filter {
      &::before {
          background-color: $color-2;
      }
      .cd-close {
          background: darken($color-2, 5%);
          .no-touch &:hover {
              background: darken($color-2, 8%);
          }
      }
  }
  .cd-filter-trigger {
      @include MQ(L) {
          .no-touch &:hover {
              color: $color-2;
          }
      }
  }
  .cd-filter-block {
      h4 {
          .no-touch &:hover {
              color: $color-2;
          }
      }
      input[type='search'],
      input[type='text'],
      select {
          &:focus {
              border-color: $color-2;
          }
      }
      input[type=radio]:checked + label::before,
      input[type=checkbox]:checked + label::before {
          border-color: $color-2;
          background-color: $color-2;
      }
  }
  .dd3-handle {
      background:$blush-500 !important;
  }
  .block-header h2 a i {
      color:$blush-500;
  }
}
