<div class="card social-card" [ngClass]="socialbgColor">
  <div class="card-block">
      <div class="row align-items-center">
          <div class="col-auto">
              <i class="social-icon" [ngClass]="iconName"></i>
          </div>
          <div class="col">
              <h6 class="m-b-0">{{ title}}</h6>
              <p>{{ value }}w downloads</p>
              <p class="m-b-0">{{ details }}</p>
          </div>
      </div>
  </div>
  <a href="#!" class="download-icon"><i class="feather icon-arrow-down"></i></a>
</div>
