<div class="table-responsive">
  <table class="table table-hover m-b-0">
      <tbody>
          <tr>
              <td>
                  <i class="zmdi zmdi-facebook zmdi-hc-2x"></i>
              </td>
              <td>
                  <p class="margin-0">Facebook Ads</p>
                  <span>1.2k Likes, 418 Shares</span>
              </td>
              <td>
                  <h6 class="m-b-0">$ 402</h6>
                  <span class="text-muted">Spent</span>
              </td>
              <td class="text-right">
                  <div class="text-success">
                      <i class="zmdi zmdi-trending-up"></i>23
                  </div>
                  <div class="text-muted">up</div>
              </td>
          </tr>
          <tr>
              <td>
                  <i class="zmdi zmdi-twitter zmdi-hc-2x"></i>
              </td>
              <td>
                  <p class="margin-0">Twitter Ads</p>
                  <span>1k Likes, 128 Shares</span>
              </td>
              <td>
                  <h6 class="m-b-0">$ 489</h6>
                  <span class="text-muted">Spent</span>
              </td>
              <td class="text-right">
                  <div class="text-danger">
                      <i class="zmdi zmdi-trending-down"></i>
                      -9
                  </div>
                  <div class="text-muted">down</div>
              </td>
          </tr>
          <tr>
              <td>
                  <i class="zmdi zmdi-instagram zmdi-hc-2x"></i>
              </td>
              <td>
                  <p class="margin-0">Instagram Post</p>
                  <span>1k Follows, 228 Likes</span>
              </td>
              <td>
                  <h6 class="mb-0">$ 718 </h6>
                  <span class="text-muted">Spent</span>
              </td>
              <td class="text-right">
                  <div class=" text-success">
                      <i class="zmdi zmdi-trending-up"></i>
                      16
                  </div>
                  <div class="text-muted">up</div>
              </td>
          </tr>
          <tr>
              <td>
                  <i class="zmdi zmdi-linkedin zmdi-hc-2x"></i>
              </td>
              <td>
                  <p class="margin-0">LinkedIn Post</p>
                  <span>1k Follows, 228 Likes</span>
              </td>
              <td>
                  <h6 class="mb-0">$ 768</h6>
                  <span class="text-muted">Spent</span>
              </td>
              <td class="text-right">
                  <div class=" text-success">
                      <i class="zmdi zmdi-trending-up"></i>
                      27
                  </div>
                  <div class="text-muted">up</div>
              </td>
          </tr>
      </tbody>
  </table>
</div>
