<section class="content">
  <div class="container">
      <div class="row clearfix">
          <div class="col-lg-12">
              <div class="card mb-800" *ngIf="show_div">
                  <div class="header">
                      <h2><strong>Blank</strong> Page</h2>
                      <app-card-actions></app-card-actions>
                  </div>
                  <div class="body">
                      <h4>Stater page</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
