<section class="content">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12 col-xl-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="chat-profile m-b-30 clearfix">
                            <img src="assets/images/xs/avatar8.jpg" alt="avatar">
                            <div class="chat-about m-l-10">
                                <h6 class="m-b-0 font-11">Aiden Chavez</h6>
                            </div>
                            <ul class="m-b-0 profile-setting">
                                <li>
                                    <div class="dropdown"><a href="#" class="btn btn-round btn-icon btn-light dropdown-toggle rounded-circle"
                                            data-toggle="dropdown"><em class="icon-settings"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list">
                                                <li><a href="#">Settings</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Message Requests</a></li>
                                                <li><a href="#">Archives Chats</a></li>
                                                <li><a href="#">Unread Chats</a></li>
                                                <li><a href="#">Group Chats</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#" class="btn btn-round btn-icon btn-light rounded-circle"><em class="icon-pencil"></em></a></li>
                            </ul>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                        <div class="favorites">
                            <h6 class="font-12 m-t-20">FAVORITES</h6>
                            <ul class="chat-list list-unstyled">
                                <li>
                                    <a href="#" class="btn circle-btn"><i class="material-icons">add</i></a>
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar1.jpg" alt="avatar" />
                                    <i class="zmdi zmdi-circle offline"></i>
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar2.jpg" alt="avatar" />
                                    <i class="zmdi zmdi-circle online"></i>
                                </li>
                                <li>
                                    <img src="assets/images/xs/avatar6.jpg" alt="avatar" />
                                    <i class="zmdi zmdi-circle offline"></i>
                                </li>
                            </ul>
                        </div>
                        <h6 class="font-12 m-t-20">MESSAGES</h6>
                        <ul class="chat-list list-unstyled m-b-0">
                            <li class="clearfix">
                                <img src="assets/images/xs/avatar1.jpg" alt="avatar" />
                                <div class="about">
                                    <div class="name">Vincent Porter</div>
                                    <div class="status"> <i class="zmdi zmdi-circle offline"></i> left 7 mins ago </div>
                                </div>
                            </li>
                            <li class="clearfix active">
                                <img src="assets/images/xs/avatar2.jpg" alt="avatar" />
                                <div class="about">
                                    <div class="name">Aiden Chavez</div>
                                    <div class="status"> <i class="zmdi zmdi-circle online"></i> online </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="assets/images/xs/avatar3.jpg" alt="avatar" />
                                <div class="about">
                                    <div class="name">Mike Thomas</div>
                                    <div class="status"> <i class="zmdi zmdi-circle online"></i> online </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="assets/images/xs/avatar7.jpg" alt="avatar" />
                                <div class="about">
                                    <div class="name">Christian Kelly</div>
                                    <div class="status"> <i class="zmdi zmdi-circle offline"></i> left 10 hours ago </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="assets/images/xs/avatar8.jpg" alt="avatar" />
                                <div class="about">
                                    <div class="name">Monica Ward</div>
                                    <div class="status"> <i class="zmdi zmdi-circle online"></i> online </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="assets/images/xs/avatar9.jpg" alt="avatar" />
                                <div class="about">
                                    <div class="name">Dean Henry</div>
                                    <div class="status"> <i class="zmdi zmdi-circle offline"></i> offline since Oct 28 </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="assets/images/xs/avatar2.jpg" alt="avatar" />
                                    <div class="chat-about">
                                        <h6 class="m-b-0">Aiden Chavez</h6>
                                        <small>Last seen: 2 hours ago</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-sm text-right chat-opration-icon">
                                    <a href="javascript:void(0);" class="btn"><i class="icon-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn"><i class="icon-camcorder"></i></a>
                                    <a href="javascript:void(0);" class="btn"><i class="icon-settings"></i></a>
                                    <a href="javascript:void(0);" class="btn"><i class="icon-question"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                <li class="clearfix">
                                    <div class="message-data text-right">
                                        <span class="message-data-time" >10:10 AM, Today</span>
                                        <img src="assets/images/xs/avatar7.jpg" alt="avatar">
                                    </div>
                                    <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                                </li>
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:12 AM, Today</span>
                                    </div>
                                    <div class="message my-message">Are we meeting today?</div>
                                </li>
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:15 AM, Today</span>
                                    </div>
                                    <div class="message my-message">Project has been already finished and I have results to show you.</div>
                                </li>
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <div class="input-group m-b-0">
                                <input type="text" class="form-control" placeholder="Enter text here...">
                                <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>




