<div class="theme-blush light">
<!-- Main Content -->
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0 authentication">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="assets/images/login.jpg" alt="login" class="login-card-img">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <div class="brand-wrapper">
              <img src="assets/images/logo-text-black.svg" alt="logo" class="logo black-logo">
              <img src="assets/images/logo.svg" alt="logo" class="logo white-logo">
            </div>
            <p class="login-card-description">LOCKED</p>
            <div class="m-b-30 d-flex align-items-center">
                  <img src="assets/images/sm/avatar8.jpg" class="rounded-circle" alt="Avatar">
                  <div>
                      <h5 class="mb-0 mt-0 ml-2 name">Pamela Petrus</h5>
                      <p class="ml-2 mb-0">info@example.com</p>
                  </div>
            </div>
            <form action="#!">
                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Enter your password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                </div>
                <button class="btn btn-block login-btn mb-4" type="button" value="Login" [routerLink]="['/dashboard']">Login</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
