<section class="content">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>ST</strong> - Social Team <small>Ranking 1th</small></h2>
            <app-card-actions></app-card-actions>
          </div>
          <div class="body">
            <h6 class="m-b-15">Info about Social Team <span class="badge badge-success float-right">New</span></h6>
            <p>Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh</p>
            <ul class="list-unstyled team-info m-t-20">
              <li class="m-r-15"><small class="text-muted">Team</small></li>
              <li><img src="assets/images/xs/avatar1.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar2.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar3.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar4.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
            </ul>
            <div class="mb-3">
              <span class="progress-badge">Prograss</span>
              <ngb-progressbar type="success" [value]="87"></ngb-progressbar>
            </div>
            <div class="row">
              <div class="col-7">
                <small>PROJECTS: 12</small>
                <h6>BUDGET: 4,870 USD</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>DT</strong> - Dribble Team <small>Ranking 2th</small></h2>
            <app-card-actions></app-card-actions>
          </div>
          <div class="body">
            <h6 class="m-b-15">Info about Dribble Team</h6>
            <p>Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.</p>
            <ul class="list-unstyled team-info m-t-20">
              <li class="m-r-15"><small class="text-muted">Team</small></li>
              <li><img src="assets/images/xs/avatar10.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar9.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar8.jpg" title="Avatar" alt="Avatar"></li>
            </ul>
            <div class="mb-3">
              <span class="progress-badge">Prograss</span>
              <ngb-progressbar type="warning" [value]="73"></ngb-progressbar>
            </div>
            <div class="row">
              <div class="col-7">
                <small>PROJECTS: 08</small>
                <h6>BUDGET: 2,170 USD</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>PT</strong> - Product Team <small>Ranking 3th</small></h2>
            <app-card-actions></app-card-actions>
          </div>
          <div class="body">
            <h6 class="m-b-15">Info about Developers Team</h6>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
              at its layout.</p>
            <ul class="list-unstyled team-info m-t-20">
              <li class="m-r-15"><small class="text-muted">Team</small></li>
              <li><img src="assets/images/xs/avatar1.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar2.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar3.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar4.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar6.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar7.jpg" title="Avatar" alt="Avatar"></li>
            </ul>
            <div class="mb-3">
              <span class="progress-badge">Prograss</span>
              <ngb-progressbar type="primary" [value]="34"></ngb-progressbar>
            </div>
            <div class="row">
              <div class="col-7">
                <small>PROJECTS: 23</small>
                <h6>BUDGET: 8,000 USD</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>PT</strong> - Purchase Team <small>Ranking 4th</small></h2>
            <app-card-actions></app-card-actions>
          </div>
          <div class="body">
            <h6 class="m-b-15">Info about Purchase Team</h6>
            <p>In vel mi sit amet augue congue elementum. Morbi in ipsum sit amet pede facilisis laoreet.</p>
            <ul class="list-unstyled team-info m-t-20">
              <li class="m-r-15"><small class="text-muted">Team</small></li>
              <li><img src="assets/images/xs/avatar4.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
            </ul>
            <div class="mb-3">
              <span class="progress-badge">Prograss</span>
              <ngb-progressbar type="secondary" [value]="46"></ngb-progressbar>
            </div>
            <div class="row">
              <div class="col-7">
                <small>PROJECTS: 2</small>
                <h6>BUDGET: 3,370 USD</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>ST</strong> - Sales Team <small>Ranking 5th</small></h2>
            <app-card-actions></app-card-actions>
          </div>
          <div class="body">
            <h6 class="m-b-15">Info about Sales Team</h6>
            <p>Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. </p>
            <ul class="list-unstyled team-info m-t-20">
              <li class="m-r-15"><small class="text-muted">Team</small></li>
              <li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar1.jpg" title="Avatar" alt="Avatar"></li>
            </ul>
            <div class="mb-3">
              <span class="progress-badge">Prograss</span>
              <ngb-progressbar type="danger" [value]="46"></ngb-progressbar>
            </div>
            <div class="row">
              <div class="col-7">
                <small>PROJECTS: 12</small>
                <h6>BUDGET: 5,100 USD</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
          <div class="header">
            <h2><strong>BD</strong> - Account Team <small>Ranking 6th</small></h2>
            <app-card-actions></app-card-actions>
          </div>
          <div class="body">
            <h6 class="m-b-15">Info about Account Team</h6>
            <p>Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices</p>
            <ul class="list-unstyled team-info m-t-20">
              <li class="m-r-15"><small class="text-muted">Team</small></li>
              <li><img src="assets/images/xs/avatar2.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar3.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
              <li><img src="assets/images/xs/avatar7.jpg" title="Avatar" alt="Avatar"></li>
            </ul>
            <div class="mb-3">
              <span class="progress-badge">Prograss</span>
              <ngb-progressbar type="warning" [value]="79"></ngb-progressbar>
            </div>
            <div class="row">
              <div class="col-7">
                <small>PROJECTS: 23</small>
                <h6>BUDGET: 11,000 USD</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
