<section class="content pricing-block">
    <div class='container'>
      <div class="row clearfix">
        <div class="col-lg-3 cool-md-6 col-sm-12">
            <div class="card">
                <ul class="pricing body">
                    <li><div class="h2">Start</div></li>
                    <li>Responsive Design</li>
                    <li>Color Customization</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>Styled elements</li>
                    <li>
                        <h3>$199</h3>
                        <span>per month</span>
                    </li>
                    <li><button class="btn btn-primary btn-round btn-simple">Join Now</button></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 cool-md-6 col-sm-12">
            <div class="card">
                <ul class="pricing body active">
                    <li><div class="h2">Good</div></li>
                    <li>Responsive Design</li>
                    <li>Color Customization</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>Styled elements</li>
                    <li>
                        <h3>$299</h3>
                        <span>per month</span>
                    </li>
                    <li><button class="btn btn-primary btn-round">Join Now</button></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 cool-md-6 col-sm-12">
            <div class="card">
                <ul class="pricing body">
                    <li><div class="h2">Ultima</div></li>
                    <li>Responsive Design</li>
                    <li>Color Customization</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>Styled elements</li>
                    <li>
                        <h3>$399</h3>
                        <span>per month</span>
                    </li>
                    <li><button class="btn btn-primary btn-round btn-simple">Join Now</button></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 cool-md-6 col-sm-12">
            <div class="card">
                <ul class="pricing body">
                    <li><div class="h2">Vip</div></li>
                    <li>Responsive Design</li>
                    <li>Color Customization</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>Styled elements</li>
                    <li>
                        <h3>$799</h3>
                        <span>per month</span>
                    </li>
                    <li><button class="btn btn-primary btn-round btn-simple">Join Now</button></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>




