<section class="content pricing-block">
<div class="container">
	<div class="clearfix">
		<div class="card">
      <div class="header">
        <h2><strong>Frequently</strong> Asked Questions</h2>
        <app-card-actions></app-card-actions>
      </div>
			<div class="body panel-group">
				<div class="accordion custom text-left" id="accordion">
					<div>
						<div class="panel-title" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseOne')">
									1. How can i delete my complaint/comment?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseOne'}">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
					<div>
						<div class="panel-title" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseTwo')">
									2. I have posted a complaint/comment, but it doesn’t appear on the website. Why? When my complaint will be posted?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseTwo'}">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
					<div>
						<div class="panel-title" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseThree')">
									3. How can I edit a complaint I posted?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseThree'}">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
				</div>
				<div class="accordion custom text-left" id="accordion1">
					<div>
						<div class="panel-title" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseOne1')">
									4. How can i find out personal information of another user?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseOne1'}">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
					<div>
						<div class="panel-title" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseTwo2')">
									5. How can i contact another user?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseTwo2'}">
							<div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
					<div>
						<div class="panel-title" id="headingThree">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button" (click)="toggleCollepseGeneral('collapseThree3')">
									6. How much wood would a woodchuck chuck?
								</button>
							</h5>
						</div>
						<div class="collapse" [ngClass]="{'show':collepse == 'collapseThree3'}">
							<div class="card-body">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
