<div class="weather-block">
  <ul class="grid-container">
    <li class="grid-item">
      <div class="w-card card-night">
        <div class="night"></div>
      </div>
      <div class="status">
        <p>71 &#8457;</p>
        <p>Clear skies</p>
      </div>
    </li>
    <li class="grid-item">
      <div class="w-card card-rain">
        <div class="rain"></div>
      </div>
      <div class="status">
        <p>71 &#8457;</p>
        <p>Showers</p>
      </div>
    </li>
    <li class="grid-item">
      <div class="w-card card-snow">
        <div class="snow"></div>
      </div>
      <div class="status">
        <p>71 &#8457;</p>
        <p>Light flurry</p>
      </div>
    </li>
    <li class="grid-item">
      <div class="w-card card-storm">
        <div class="storm"></div>
      </div>
      <div class="status">
        <p>71 &#8457;</p>
        <p>Thunderstorms</p>
      </div>
    </li>
    <li class="grid-item">
      <div class="w-card card-sunny">
        <div class="sunny"></div>
      </div>
      <div class="status">
        <p>71 &#8457;</p>
        <p>Mostly sunny</p>
      </div>
    </li>
  </ul>
</div>
