.invoice{
  height: 100vh;
    .nav-tabs{
        @extend .p-l-0;
        @extend .p-r-0;
        a{
          cursor: pointer;
        }
    }
    .table{
        tr{
            td{
                vertical-align: middle;
            }
        }
    }
}
