<!-- Main Content -->
<router-outlet></router-outlet>
<section class="content">
  <div class="container">
      <!-- <div class="row clearfix pt-5">
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let detailsTileOption of detailsTileOptions">
            <app-detail-tiles  [title]="detailsTileOption.title" [value]="detailsTileOption.value"  [details]="detailsTileOption.details"
                [progressColor]="detailsTileOption.progressColor" [progress]="detailsTileOption.progress" [chartOptions]="detailsTileOption.options"></app-detail-tiles>
        </div>
      </div> -->

      <div class="row clearfix row-deck">
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="header">
                  <h2><strong>Sales</strong> Report</h2>
                  <app-card-actions></app-card-actions>
              </div>
              <div class="body">
                <div echarts [options]="saleOption"></div>
              </div>
          </div>
          </div>
          <div class="col-xl-6 col-lg-12 flex-column">
            <div class="card border-left-4x border-red">
                <div class="body">
                    <div class="d-flex items-center">
                        <div class="d-flex flex-column">
                            <div class="font-lg">Previous MonthInfo</div>
                            <div class="font-md text-muted">25% compared to last Month </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap mt-4 justify-content-between text-center">
                        <div class="d-flex flex-column">
                            <div class="font-weight-bold">Earnings</div>
                            <div class="mt-1 mb-2">$28,500</div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="font-weight-bold">Visits</div>
                            <div class="mt-1 mb-2">1258</div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="font-weight-bold">Likes</div>
                            <div class="mt-1 mb-2">468</div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="font-weight-bold">New customers</div>
                            <div class="mt-1 mb-2">6045</div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="font-weight-bold">New products</div>
                            <div class="mt-1 mb-2">1555</div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="font-weight-bold">New leads</div>
                            <div class="mt-1 mb-2">468</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-3">
                            <div class="d-flex justify-content-between"><small>This Month's Sales</small> <span>$3251<i class="zmdi zmdi-caret-up col-green"></i></span></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar"
                                    style="width:30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-3">
                            <div class="d-flex justify-content-between"><small>This Year's Sales</small><span>$51,254 <i class="zmdi zmdi-caret-up col-green"></i></span></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar"
                                    style="width:62%;" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-left-4x border-green">
                <div class="body">
                    <div class="d-flex items-center">
                        <div class="d-flex flex-column">
                            <div class="font-lg">Current MonthInfo</div>
                            <div class="font-md text-muted">15% compared to last Week</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap mt-4 justify-content-between text-center">
                        <div class="d-flex flex-column mb-2">
                            <div class="font-weight-bold">Earnings</div>
                            <div class="mt-1 mb-2">$34,500</div>
                        </div>
                        <div class="d-flex flex-column mb-2">
                            <div class="font-weight-bold">Visits</div>
                            <div class="mt-1 mb-2">3258</div>
                        </div>
                        <div class="d-flex flex-column mb-2">
                            <div class="font-weight-bold">Likes</div>
                            <div class="mt-1 mb-2">568</div>
                        </div>
                        <div class="d-flex flex-column mb-2">
                            <div class="font-weight-bold">New customers</div>
                            <div class="mt-1 mb-2">12645</div>
                        </div>
                        <div class="d-flex flex-column mb-2">
                            <div class="font-weight-bold">New products</div>
                            <div class="mt-1 mb-2">2455</div>
                        </div>
                        <div class="d-flex flex-column mb-2">
                            <div class="font-weight-bold">New leads</div>
                            <div class="mt-1 mb-2">1023</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 mb-3">
                            <div class="d-flex justify-content-between"><small>Today's Sales:</small> <span> $113 <i class="zmdi zmdi-caret-up col-green"></i></span></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar"
                                    style="width:75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-3">
                            <div class="d-flex justify-content-between"><small>This Week's Sales</small> <span> $814 <i class="zmdi zmdi-caret-down col-red"></i></span></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar"
                                    style="width:55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
      <div class="row clearfix  row-deck">
        <div class="col-xl-5 col-lg-12 col-md-12">
            <div class="card">
                <div class="body">
                    <div class="card-block">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-auto">
                                <img class="img-fluid rounded-circle" style="width:70px;" src="assets/images/lg/avatar1.jpg" alt="dashboard-user">
                            </div>
                            <div class="col">
                                <h5 class="mb-0">John Doe</h5>
                                <span class="text-muted">UI/UX Designer</span>
                            </div>
                        </div>
                        <ul class="task-list">
                            <li>
                                <i class="task-icon bg-c-green"></i>
                                <h6>Create PSD<span class="float-right text-muted">1 NOV</span></h6>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </li>
                            <li>
                                <i class="task-icon bg-c-green"></i>
                                <h6>Draw Wireframe<span class="float-right text-muted">8 OCT</span></h6>
                                <p class="text-muted">Curabitur tortor. Pellentesque nibh. Aenean quam.</p>
                            </li>
                            <li>
                                <i class="task-icon bg-c-green"></i>
                                <h6>New Development<span class="float-right text-muted">2 MAR</span></h6>
                                <p class="text-muted">Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-12 col-md-12">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            <div class="card-body">
                                <h4 class="card-title mt-0 mb-0">Reviews</h4>
                                <p class="text-muted">Overview of Review</p>
                                <h3 class="mt-4 mb-0">25426</h3>
                                <span class="text-muted">This month we got 346 New Reviews</span>
                                <div class="image-box d-flex mt-3 mb-4">
                                    <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Simmons"><img src="assets/images/lg/avatar7.jpg" class="rounded-circle" width="45" alt="user"></a>
                                    <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Fitz"><img src="assets/images/lg/avatar8.jpg" class="rounded-circle" width="45" alt="user"></a>
                                    <a href="#" class="mr-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Phil"><img src="assets/images/lg/avatar9.jpg" class="rounded-circle" width="45" alt="user"></a>
                                </div>
                                <a href="javascript:void(0)" class="btn btn-md btn-info waves-effect waves-light btn-primary">Checkout All Reviews</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-8 border-left">
                            <div class="card-body">
                                <ul class="list-style-none">
                                    <li>
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-smile-o display-5 text-muted"></i>
                                            <div class="ml-2">
                                                <h6 class="mb-0">Positive Reviews</h6>
                                                <span class="text-muted">25547 Reviews</span></div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 47%" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mt-4">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-frown-o display-5 text-muted"></i>
                                            <div class="ml-2">
                                                <h6 class="mb-0">Negative Reviews</h6>
                                                <span class="text-muted">5547 Reviews</span></div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-orange" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                    <li class="mt-4">
                                        <div class="d-flex align-items-center">
                                            <i class="fa fa-meh-o display-5 text-muted"></i>
                                            <div class="ml-2">
                                                <h6 class="mb-0">Neutral Reviews</h6>
                                                <span class="text-muted">547 Reviews</span></div>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div> <!-- .row End -->
      <div class="row clearfix">
          <div class="col-xl-12 col-lg-12 col-md-12">
              <div class="card">
                  <div class="header">
                      <h2><strong>Visitors</strong> Statistics</h2>
                      <app-card-actions></app-card-actions>
                  </div>
                  <div class="body">
                      <div class="row align-items-center">
                          <div class="col-xl-5 col-lg-5 col-md-12 visitors-chart">
                            <div echarts [options]="visiterchart" style="height: 320px;"></div>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th><i class="zmdi zmdi-circle text-success"></i></th>
                                            <td>Safari</td>
                                            <td><span>862 Records</span></td>
                                            <td>35% <i class="zmdi zmdi-caret-up"></i></td>
                                        </tr>
                                        <tr>
                                            <th><i class="zmdi zmdi-circle text-info"></i></th>
                                            <td>Firefox</td>
                                            <td><span>451 Records</span></td>
                                            <td>15% <i class="zmdi zmdi-caret-up"></i></td>
                                        </tr>
                                        <tr>
                                            <th><i class="zmdi zmdi-circle text-warning"></i></th>
                                            <td>Crome</td>
                                            <td><span>502 Records</span></td>
                                            <td>20% <i class="zmdi zmdi-caret-down"></i></td>
                                        </tr>
                                        <tr>
                                            <th><i class="zmdi zmdi-circle text-danger"></i></th>
                                            <td>Explorer</td>
                                            <td><span>502 Records</span></td>
                                            <td>20% <i class="zmdi zmdi-caret-up"></i></td>
                                        </tr>
                                        <tr>
                                            <th><i class="zmdi zmdi-circle"></i></th>
                                            <td>Other</td>
                                            <td><span>237 Records</span></td>
                                            <td>10% <i class="zmdi zmdi-caret-down"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <span><strong>Note: </strong>It is a long established fact that a reader will be distracted by the readable</span>
                            </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-12">
                              <app-referrals></app-referrals>
                              <div class="row">
                                  <div class="col-6">
                                      <small>Page Views</small>
                                      <h5 class="m-b-0">32,211,536</h5>
                                  </div>
                                  <div class="col-6">
                                      <small>Site Visitors</small>
                                      <h5 class="m-b-0">23,516</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row clearfix row-deck">
          <div class="col-xl-8 col-lg-8 col-md-12">
              <div class="card">
                  <div class="header">
                      <h2><strong>User</strong> Accounts</h2>
                  </div>
                  <div class="body">
                    <app-useraccont-info></app-useraccont-info>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-xl-4 col-md-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Resent</strong> Chat</h2>
                </div>
                <div class="body">
                    <app-widget-chat [options]="chatOptions" (onSendEvent)="sendMessage($event)"></app-widget-chat>
                </div>
            </div>
        </div>
      </div>
      <div class="row clearfix">
          <div class="col-md-12 col-lg-12">
              <div class="card active-bg">
                  <div class="body">
                      <p class="copyright m-b-0 text-white">Copyright 2020 © All Rights Reserved. Riverra
                          Dashboard Template</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>





